.App {
  text-align: center;
}

.modal {
  position: fixed;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(10px);
  z-index: 20;
}

.modal > .btn {
  width: 200px;
  height: 100px;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}

header {
  padding: 20px;
  background-color: #282c34;
  color: white;
}
